
{% load static %}
<!doctype html>
<html class=no-js lang="">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset=utf-8>
    {% if seo_ayarlari %}
    
    
    <meta name="description" content="{{seo_ayarlari.site_seo_metni_tr}}">
    
  <meta name="keywords" content="{{seo_ayarlari.site_seo_kelimeleri_tr}}">
  {% else %}
    {% endif %}
  <meta name="author" content="Habip Eliş">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
   <title>{{site_adi.site_adi_sekme_tr}}</title>
    
    <link rel="shortcut icon" href="{{favicon.sayfa_icon.url}}">
    
    
    <link rel=stylesheet href="{% static 'vendor.css' %}">

    <link rel=stylesheet href="{% static 'style.css' %}">
    <link rel=stylesheet type=text/css href="{% static 'css/layerslider.css' %}">
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
</head>
<body><!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class=wrapper>
    <!doctype html>
<html class=no-js lang="">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset=utf-8>
    <meta name=description content="">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <link rel=stylesheet href="{% static 'vendor.css' %}">
    <link rel=stylesheet href="{% static 'style.css' %}">
    <link rel=stylesheet type=text/css href="{% static 'css/layerslider.css' %}">
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    {% block head %}
        <title>{{site_adi.site_adi_sekme_tr}}</title>
        
    <link rel="shortcut icon" href="{{favicon.sayfa_icon.url}}">
    
    {% endblock head %}
</head>
<body><!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class=wrapper>


{% block header %}

{% endblock header %}
{% block slider %}

{% endblock slider %}
{% block content %}

{% endblock content %}
{% block sidebar %}

{% endblock sidebar %}
{% block footer %}
 <footer class=footer-type01>
        <div class=container>
            <div class=row>
                <ul class=footer-widget>
                    <li class=widget-about><h4 class=footerheading>about <span>soccer club</span></h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis vitae, velit perferendis
                            dolor atque magni, porro minus repellendus nostrum alias ea deserunt. Vel quam explicabo
                            laudantium accusamus est, nulla minima!</p>

                        <p><span class=uppercaseheading>address:</span><span class=red>239</span> main street
                            London,England.</p>

                        <p><span class=uppercaseheading>call:</span> <span class=red>1800-2222-3333</span></p></li>
                    <li class=widget-news><h4 class=footerheading>recent <span>news</span></h4>
                        <ul class="widget-newsdetails clearfix">
                            <li class=clearfix><a href="#" class=clearfix>
                                <div class=widget-pic
                                     style="background:url(images/widget/widget01.jpg) center no-repeat"></div>
                                <div class=widget-newsinfo><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Numquam soluta excepturi.</p>

                                    <p class=uppercaseheading>18 september ,<span class=red>2015</span></p></div>
                            </a></li>
                            <li class=clearfix><a href="#" class=clearfix>
                                <div class=widget-pic
                                     style="background:url(images/widget/widget02.jpg) center no-repeat"></div>
                                <div class=widget-newsinfo><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Numquam soluta excepturi.</p>

                                    <p class=uppercaseheading>18 september ,<span class=red>2015</span></p></div>
                            </a></li>
                            <li class=clearfix><a href="#" class=clearfix>
                                <div class=widget-pic
                                     style="background:url(images/widget/widget03.jpg) center no-repeat"></div>
                                <div class=widget-newsinfo><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Numquam soluta excepturi.</p>

                                    <p class=uppercaseheading>18 september ,<span class=red>2015</span></p></div>
                            </a></li>
                        </ul>
                    </li>
                    <li class=widget-product><h4 class=footerheading>real <span>soccer products</span></h4>
                        <ul class=widget_productdetails>
                            <li><a href=#>shoes(4)</a></li>
                            <li><a href=#>men(4)</a></li>
                            <li><a href=#>t-shirt(4)</a></li>
                            <li><a href=#>sports(4)</a></li>
                            <li><a href="#">glass</a></li>
                        </ul>
                    </li>
                    <li class=widget-comment><h4 class=footerheading>recent <span>comments</span></h4>
                        <ul class=widget_commentDetails>
                            <li><a href=# class=clearfix>
                                <div class=comment-pic>
                                    <div class=columnpic><img src=images/widget/comment01.jpg alt=image></div>
                                </div>
                                <div class=commentinfo><p class=uppercaseheading>jhon doe</p>

                                    <p>18 April ,<span class=red>2015</span></p>

                                    <p>nice and cool</p></div>
                            </a></li>
                            <li><a href=# class=clearfix>
                                <div class=comment-pic>
                                    <div class=columnpic><img src=images/widget/comment02.jpg alt=image></div>
                                </div>
                                <div class=commentinfo><p class=uppercaseheading>jhon doe</p>

                                    <p>18 April ,<span class=red>2015</span></p>

                                    <p>nice and cool</p></div>
                            </a></li>
                            <li><a href=# class=clearfix>
                                <div class=comment-pic>
                                    <div class=columnpic><img src=images/widget/comment03.jpg alt=image></div>
                                </div>
                                <div class=commentinfo><p class=uppercaseheading>jhon doe</p>

                                    <p>18 April ,<span class=red>2015</span></p>

                                    <p>nice and cool</p></div>
                            </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class=footer-type02>
            <div class=container>
                <div class=row><a href="/" class=footer-logo><img src="{{logo.image.url}}" alt=image></a>

                    <div class=footer-container>
                        <ul class=clearfix>
                        {% if email_adres %}
                              <li><a href="mailto:{{email_adres.sirket_email_adresi}}" class=bigsocial-link><i
                            class="fa fa-google"></i></a> </li>
                        {% else %}
                        {% endif %}
                    {% if sosyalmedyatw.link %}
                         <li><a href="{{sosyalmedyatw.link}}" class=bigsocial-link><i
                            class="fa fa-twitter"></i></a></li>
                    {% else %}
                    {% endif %}
                    {% if sosyalmedyaInsgr.link %}
                        <li><a href="{{sosyalmedyaInsgr.link}}" class=bigsocial-link><i
                            class="fa fa-instagram"></i></a></li>
                    {% else %}
                    {% endif %}
                           
                        </ul>
                        <p><a target="_blank" href="https://www.wareyazilim.com/">Ware Yazılım</a></p></div>
                    <div class=footer-appstore>
                     
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
</div>
{% block javascript %}

<script src="{% static 'js/vendor/vendor.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock javascript %}
</body>

</html>