{% extends "homebase.html" %}
{% load custom_tags %}
{% load static %}
{% block header %}

<header class=header-main>
        <div class=header-upper>
            <div class=container>
                <div class=row>
                    <ul>
                        <li><a href="/">{{site_adi.site_adi_sekme_tr}}</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-lower clearfix">
            <div class=container>
                <div class=row><h1 class=logo><a href="/"><img src="{{logo.image.url}}" alt=image></a></h1>

                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul   class="nav navbar-nav menu-bar">
                                    
                                        <li><a class="active">KULÜBÜMÜZ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="/">ANA SAYFA</a></li>
                                                <li><a href="/manager">YÖNETİM KURULU</a></li>
                                                <li><a href="/awards">KUPALAR</a></li>
                                                <li><a href="/sponsors">SPONSORLAR</a></li>
                                                <li><a href="/about">HAKKIMIZDA</a></li>
                                                <li><a href="/contact">İLETİŞİM</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li><a  href="/fixture">FİKSTÜR <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href="/sportsschool">Futbol Okulu <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>GALERİ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="/galery">FORMALARIMIZ</a></li>
                                                <li><a href="/u11galery">U-11 TAKIMIMIZ</a></li>
                                                <li><a href="/u12galery">U-12 TAKIMIMIZ</a></li>
                                                <li><a href="/u13galery">U-13 TAKIMIMIZ</a></li>
                                                <li><a href="/u14galery">U-14 TAKIMIMIZ</a></li>
                                                <li><a href="/u15galery">U-15 TAKIMIMIZ</a></li>
                                            </ul>
                                        </li>
                                        <li><a>OYUNCULARIMIZ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="/u11player">U-11 TAKIMIMIZ</a></li>
                                                <li><a href="/u12player">U-12 TAKIMIMIZ</a></li>
                                                <li><a href="/u13player">U-13 TAKIMIMIZ</a></li>
                                                <li><a href="/u14player">U-14 TAKIMIMIZ</a></li>
                                                <li><a href="/u15player">U-15 TAKIMIMIZ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/ourtechnicalstaff">TEKNİK KADROMUZ <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        
                                 
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class=social>
                    {% if email_adres %}
                             <a href="mailto:{{email_adres.sirket_email_adresi}}" class=facebook><i
                            class="fa fa-google"></i></a> 
                        {% else %}
                        {% endif %}
                    {% if sosyalmedyatw.link %}
                        <a href="{{sosyalmedyatw.link}}" class=twitter><i
                            class="fa fa-twitter"></i></a>
                    {% else %}
                    {% endif %}
                    {% if sosyalmedyaInsgr.link %}
                       <a href="{{sosyalmedyaInsgr.link}}" class=behance><i
                            class="fa fa-instagram"></i></a>
                    {% else %}
                    {% endif %}
                     </div>
                </div>
            </div>
        </div>
    </header>

{% endblock header %}
{% block slider %}

    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline>İLET<span>İŞİM </span></h2></div>
    </div>
    <section class=innerpage_all_wrap>
        <div class=container>
            <div class=row><h2 class=heading>İRT<span>İBAT</span></h2>

                <p class=headParagraph>Bizimle iletişime geçmekten çekinmeyin! Sorularınız, önerileriniz veya geri bildirimleriniz için her zaman buradayız.</p>

                <div class=innerWrapper>
                    <ul class="contact_icon clearfix">
                        <li><a href="tel:+{{numara.sirket_numarasi}}"><i class="fa fa-phone"></i> <span>{{numara.sirket_numarasi_gosterilecek_metin}}</span></a></li>
                        <li><a href="mailto:{{email_adres.sirket_email_adresi}}"><i class="fa fa-envelope-o"></i>
                            <span>{{email_adres.sirket_email_adresi}}</span></a></li>
                        <li><a href=#><i class="fa fa-map-marker"></i> <span>{{adres.sirket_adresi_tr}}</span></a>
                        </li>
                    </ul>
                </div>
                <h2 class=heading>KONUM <span>BİLGİSİ</span></h2>
                <div class="row">
                    <div class="col-6">
                <div class="innerWrapper">
                    <iframe src="https://www.google.com/maps/embed?pb={{gomuluadres.sirket_adresi_tr}}" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-6" style="background-color: rgb(65, 65, 65);">
                    <div class="innerWrapper">
                        <form action="/contactsave" method="POST"  class="formcontact clearfix">
                            {% csrf_token %}
                            <div class=form-group><input type=text class=form-control name="name" placeholder="Adı Soyadı" required=""
                                                         data-parsley-required-message="Lütfen Adınız ve soyadınızı giriniz"></div>
                            <div class=form-group><input type=text class=form-control name="phone" placeholder="Telefon Numaranız"
                                                         required="" data-parsley-required-message="Lütfen Telefon Numarasnızı Giriniz">
                            </div>
                            <div class=form-group><input type=text class=form-control name="subject" placeholder="Konu başlığı"
                                                         required="" data-parsley-required-message="Lütfen Konu Başlığını Giriniz">
                            </div>
                            <div class=form-group><input type=email class=form-control name="email" placeholder="Email"
                                                         required="" data-parsley-required-message="Lütfen Email Adresinizi Giriniz ">
                            </div>
                            <div class=form-group1><textarea class="form-control textas" name="comment" placeholder="mesajınız"
                                                             required="" data-parsley-minlength=20
                                                             data-parsley-minlength-message="Mesajınız 20 Karekterden Kısa"
                                                             data-parsley-validation-threshold=10
                                                             data-parsley-maxlength=100></textarea></div>
                            <input type="submit" value="GÖNDER" class="btn btn-red" id=send>
                          
                        </form>
                    </div>
            </div>
            </div>
            </div>
        </div>
    </section>
 

{% endblock slider %}