{% extends "homebase.html" %}
{% load custom_tags %}
{% load static %}
{% block header %}

<header class=header-main>
        <div class=header-upper>
            <div class=container>
                <div class=row>
                    <ul>
                        <li><a href="/">{{site_adi.site_adi_sekme_tr}}</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-lower clearfix">
            <div class=container>
                <div class=row><h1 class=logo><a href="/"><img src="{{logo.image.url}}" alt=image></a></h1>

                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul class="nav navbar-nav menu-bar">
                                        <li><a href="/" class=active>ANA SAYFA <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                        <li><a href=about.html>HAKKIMIZDA <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>GALERİ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href=gallerypage01.html>U-11 TAKIMIMIZ</a></li>
                                                <li><a href=gallery02.html>U-12 TAKIMIMIZ</a></li>
                                                <li><a href=gallery03.html>U-13 TAKIMIMIZ</a></li>
                                            </ul>
                                        </li>
                                        <li><a>OYUNCULARIMIZ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href=gallerypage01.html>U-11 TAKIMIMIZ</a></li>
                                                <li><a href=gallery02.html>U-12 TAKIMIMIZ</a></li>
                                                <li><a href=gallery03.html>U-13 TAKIMIMIZ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href=blog.html>TEKNİK KADROMUZ <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href=bookTicket.html>İLETİŞİM <span></span> <span></span>
                                            <span></span> <span></span></a></li>
                                 
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class=social><a href=https://www.facebook.com/templatespoint.net class=facebook><i
                            class="fa fa-google"></i></a> <a href=https://twitter.com/itobuztech class=twitter><i
                            class="fa fa-twitter"></i></a> <a href= https://www.instagram.com/bayrampasakocatepeatletik/ class=behance><i
                            class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </header>

{% endblock header %}
{% block slider %}

<div class=banner id=layerSlider style="width: 100%;">

        <div class=ls-slide data-ls="transition3d: 33,15; slidedelay: 8000 ; durationin:0;"><img
                src="{% static 'images/banner/background01.jpg' %}" class=ls-bg alt="Slide background">

            <div class="ls-l layercontent01" style="top: 50%; left: 50%; z-index:4;"
                 data-ls="offsetxin:left; offsetxout:right; durationin: 4000; parallaxlevel: 8;"><img
                    src="{% static 'images/banner/player.png' %}" alt=innerimage class=img-responsive
                    style="max-width: 100% !important ;"></div>
            <img src="{% static 'images/banner/ball.png' %}" alt=innerimage class="ls-l layercontent02" style=z-index:5;
                 data-ls="offsetxin: right; offsetxout:left; rotatein:-360; easingin: easeoutquart; durationin: 4000; delayin: 250; parallaxlevel: -5;">
            <img src=images/banner/front_particles.png alt=particles class=ls-l style="z-index:3; left:0;"
                 data-ls="offsetxin: left; offsetxout:left; scalexin:50; easingin: easeoutquart; durationin: 3000; delayin: 250;">
            <img src=images/banner/back_particles.png alt=particles class=ls-l style="z-index:3; left:50%;"
                 data-ls="offsetxin: left; offsetxout:left; scalein:90; easingin: easeoutquart; durationin: 3000; delayin: 250;">

            <h2 class="ls-l bannertext layercontent03" data-ls="offsetxin:left; rotatexin:90 ; durationin: 3500;">
                </h2>

            <h2 class="ls-l bannertext01 italic01 layercontent04"
                    class="ls-l bannertext02 layercontent05" data-ls="offsetxin:left; rotatexin:90 ; durationin: 4500;">
                </h4>

            <h2 class="ls-l bannertext01 layercontent06" style="left: 87%; top:760px;"
                data-ls="offsetxin:left; flipxin:90 ; durationin: 5000;"><sup></sup></h2><h6
                    class="ls-l bannertext03 layercontent07" data-ls="offsetxin:left; flipxin:90 ; durationin: 6000;">
                </h6></div>
    </div>
      <div class=banner-text>
        <div class=container>
            <div class=row>action start from 21<sup>st</sup> july , 2015.</div>
        </div>
    </div>
    <section class="booking bg-smallwhite">
        <div class=container>
            <div class=booking-fig><h2>{{site_adi.site_adi_sekme_tr}}</h2></div>
            <div class=booking-content><a href=# class="btn btn-white">Tarihçe</a> <a href=bookTicket.html
                                                                                        class="btn btn-red">Hakkımızda
                </a></div>
        </div>
    </section>
{% if u_12_sonkarsilasma %}
<section class=latestResult>
        <div class=container>
            <div class=row><h2 class=heading>SON <span>KARŞILAŞMA</span></h2>

                <div class=latestResult-wrap><h4>U-12 LİGİ</h4>

                    <p></p></div>
                <div class="result clearfix">
                    <div class=result-details>
                        <div class=content><h4>{{u_12_sonkarsilasma.ev_sahibi_takim_adi}}</h4>

                            <p>{{u_12_sonkarsilasma.ev_sahibi_kazanma_kaybetme}}</p>

                            <p>{{u_12_sonkarsilasma.ev_sahibi_gol_atanlar |safe}}</p></div>
                        <div class=figure>
                            <div class=team-logo>
                                <div style=background:url({{u_12_sonkarsilasma.ev_sahibi_takim_logusu}}) class=teamLogoImg></div>
                            </div>
                        </div>
                    </div>
                    <div class=result-count>
                        <div class=count-number><span class=lose-team>{{u_12_sonkarsilasma.ev_sahibi_skoru}}</span> <span>-</span> <span
                                class=win-team>{{u_12_sonkarsilasma.deplasman_skoru}}</span></div>
                        <div class=dateTime>
                            <div class=dateTime-container><span class=date>{{u_12_sonkarsilasma.karsilasma_tarihi}}</span> <span
                                    class=time></span></div>
                            <div class=country-wrap><span class=field>{{u_12_sonkarsilasma.karsilasma_yeri}}</span> <span class=country></span>
                            </div>
                        </div>
                    </div>
                    <div class=result-details>
                        <div class="content contentresult"><h4>{{u_12_sonkarsilasma.deplasman_takim_adi}}</h4>

                            <p>{{u_12_sonkarsilasma.deplasman_kazanma_kaybetme}}</p>

                            <p>{{u_12_sonkarsilasma.deplasman_gol_atanlar}}
                                
                            </p></div>
                        <div class="figure figresult">
                            <div class=team-logo>
                                <div style=background:url({{u_12_sonkarsilasma.deplasman_takim_logusu}}) class=teamLogoImg></div>
                            </div>
                        </div>
                    </div>
                    <div class=center><a href=# class="btn btn-red score-btn">Skor Tablosu</a></div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<section class=matchSchedule>
        <div class=container>
            <div class=row><h2 class=heading>U-11 <span>FİKSTÜRÜ</span></h2>

                <p class=headParagraph></p>
                <div class="matchSchedule_details row">
                    <div class=match_versus-wrap>
                        <div class=wrap_match-innerdetails>
                            <ul class="home_tInfo scrollable">
                                {% u_12 as u_11_takimlari %}
                              
                                {% for i in u_11_takimlari %}
                                
                                
                                <li><a href="#">
                                    <ul class="t_info match_info01 headline01 clearfix">
                                        <li><img src="{{i.logo}}" alt=""></li>
                                        <li>
                                            <div class="headline01 clearfix">
                                            {% for k in i.takim %}
                                            <span>{{k}}</span>
                                            {% endfor %}
                                            </div>
                                            <div class="paragraph02 clearfix"><span>{{i.mac_yeri}}</span>
                                                <span></span>
                                            </div>
                                        </li>
                                    </ul>
                                </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class=match_next>
                        <div class="wrap_match_next left_triangle">
                            <div class=left_padding><h4 class=headline03>Gelecek Karşılaşmalar U-11</h4>

                                <p>U-11 Karşılaşmaları</p></div>
                        </div>
                    </div>
                </div>
                <div class="matchSchedule_details row">
                    <div class=match_next>
                        <div class="wrap_match_next right-triangle">
                            <div class=right-padding><h4 class=headline03>U-11 Puan Durumu</h4>

                                <p>Puan Durumu Anlık TFF Üzerinden Gelmektedir</p></div>
                        </div>
                    </div>
                    <div class=match_versus-wrap>
                        <div class=wrap_match-innerdetails>
                            <ul class="point_table scrollable">
                                {% u_11_karsilasmalari as sonuc %}
                                {% for i in sonuc %}   
                                                         
                                <li class=clearfix>
                                    <div class=subPoint_table>
                                        
                                        <div class="headline01 smallpoint">{{i.Takim}}</div>
                                        <div class="headline01 smallpoint"> <span>    </span></div>
                                        <div class="headline01 smallpoint"> <span>G</span><span>{{i.Galibiyet}}</span></div>
                                        <div class="headline01 smallpoint"><span>B</span><span>{{i.Beraberlik}}</span></div>
                                        <div class="headline01 smallpoint row row"><span>M</span><span>{{i.Malubiyet}}</span></div>
                                        <div class="headline01 smallpoint row row"><span>P</span><span>{{i.Puan}}</span></div>
                                    </div>
                                </li>
                                {% endfor %}
     
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=matchSchedule>
        <div class=container>
            <div class=row><h2 class=heading>U-12 <span>FİKSTÜRÜ</span></h2>

                <p class=headParagraph></p>
                <div class="matchSchedule_details row">
                    <div class=match_versus-wrap>
                        <div class=wrap_match-innerdetails>
                            <ul class="home_tInfo scrollable">
                                {% u_12 as u_12_takimlari %}
                              
                                {% for i in u_12_takimlari %}
                                
                                
                                <li><a href="#">
                                    <ul class="t_info match_info01 headline01 clearfix">
                                        <li><img src="{{i.logo}}" alt=""></li>
                                        <li>
                                            <div class="headline01 clearfix">
                                            {% for k in i.takim %}
                                            <span>{{k}}</span>
                                            {% endfor %}
                                            </div>
                                            <div class="paragraph02 clearfix"><span>{{i.mac_yeri}}</span>
                                                <span></span>
                                            </div>
                                        </li>
                                    </ul>
                                </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class=match_next>
                        <div class="wrap_match_next left_triangle">
                            <div class=left_padding><h4 class=headline03>Gelecek Karşılaşmalar U-12</h4>

                                <p>U-12 Karşılaşmaları</p></div>
                        </div>
                    </div>
                </div>
                <div class="matchSchedule_details row">
                    <div class=match_next>
                        <div class="wrap_match_next right-triangle">
                            <div class=right-padding><h4 class=headline03>U-12 Puan Durumu</h4>

                                <p>Puan Durumu Anlık TFF Üzerinden Gelmektedir</p></div>
                        </div>
                    </div>
                    <div class=match_versus-wrap>
                        <div class=wrap_match-innerdetails>
                            <ul class="point_table scrollable">
                                {% u_12_karsilasmalari as sonuc %}
                                {% for i in sonuc %}   
                                                         
                                <li class=clearfix>
                                    <div class=subPoint_table>
                                        
                                        <div class="headline01 smallpoint">{{i.Takim}}</div>
                                        <div class="headline01 smallpoint"> <span>    </span></div>
                                        <div class="headline01 smallpoint"> <span>G</span><span>{{i.Galibiyet}}</span></div>
                                        <div class="headline01 smallpoint"><span>B</span><span>{{i.Beraberlik}}</span></div>
                                        <div class="headline01 smallpoint row row"><span>M</span><span>{{i.Malubiyet}}</span></div>
                                        <div class="headline01 smallpoint row row"><span>P</span><span>{{i.Puan}}</span></div>
                                    </div>
                                </li>
                                {% endfor %}
     
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=matchSchedule>
        <div class=container>
            <div class=row><h2 class=heading>U-13 <span>FİKSTÜRÜ</span></h2>

                <p class=headParagraph></p>
                <div class="matchSchedule_details row">
                    <div class=match_versus-wrap>
                        <div class=wrap_match-innerdetails>
                            <ul class="home_tInfo scrollable">
                                {% u_12 as u_13_takimlari %}
                              
                                {% for i in u_13_takimlari %}
                                
                                
                                <li><a href="#">
                                    <ul class="t_info match_info01 headline01 clearfix">
                                        <li><img src="{{i.logo}}" alt=""></li>
                                        <li>
                                            <div class="headline01 clearfix">
                                            {% for k in i.takim %}
                                            <span>{{k}}</span>
                                            {% endfor %}
                                            </div>
                                            <div class="paragraph02 clearfix"><span>{{i.mac_yeri}}</span>
                                                <span></span>
                                            </div>
                                        </li>
                                    </ul>
                                </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class=match_next>
                        <div class="wrap_match_next left_triangle">
                            <div class=left_padding><h4 class=headline03>Gelecek Karşılaşmalar U-13</h4>

                                <p>U-13 Karşılaşmaları</p></div>
                        </div>
                    </div>
                </div>
                <div class="matchSchedule_details row">
                    <div class=match_next>
                        <div class="wrap_match_next right-triangle">
                            <div class=right-padding><h4 class=headline03>U-13 Puan Durumu</h4>

                                <p>Puan Durumu Anlık TFF Üzerinden Gelmektedir</p></div>
                        </div>
                    </div>
                    <div class=match_versus-wrap>
                        <div class=wrap_match-innerdetails>
                            <ul class="point_table scrollable">
                                {% u_13_karsilasmalari as sonuc %}
                                {% for i in sonuc %}   
                                                         
                                <li class=clearfix>
                                    <div class=subPoint_table>
                                        
                                        <div class="headline01 smallpoint">{{i.Takim}}</div>
                                        <div class="headline01 smallpoint"> <span>    </span></div>
                                        <div class="headline01 smallpoint"> <span>G</span><span>{{i.Galibiyet}}</span></div>
                                        <div class="headline01 smallpoint"><span>B</span><span>{{i.Beraberlik}}</span></div>
                                        <div class="headline01 smallpoint row row"><span>M</span><span>{{i.Malubiyet}}</span></div>
                                        <div class="headline01 smallpoint row row"><span>P</span><span>{{i.Puan}}</span></div>
                                    </div>
                                </li>
                                {% endfor %}
     
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock slider %}