{% extends "homebase.html" %}
{% load custom_tags %}
{% load static %}
{% block header %}

<header class=header-main>
        <div class=header-upper>
            <div class=container>
                <div class=row>
                    <ul>
                        <li><a href="/">{{site_adi.site_adi_sekme_tr}}</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-lower clearfix">
            <div class=container>
                <div class=row><h1 class=logo><a href="/"><img src="{{logo.image.url}}" alt=image></a></h1>

                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul   class="nav navbar-nav menu-bar">
                                    
                                        <li><a>KULÜBÜMÜZ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="/">ANA SAYFA</a></li>
                                                <li><a href="/about">HAKKIMIZDA</a></li>
                                                <li><a href="/contact">İLETİŞİM</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li><a  href="/fixture">FİKSTÜR <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a href="/sportsschool">SPOR OKULU <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>GALERİ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="/galery">FORMALARIMIZ</a></li>
                                                <li><a href="/u11galery">U-11 TAKIMIMIZ</a></li>
                                                <li><a href="/u12galery">U-12 TAKIMIMIZ</a></li>
                                                <li><a href="/u13galery">U-13 TAKIMIMIZ</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="active">OYUNCULARIMIZ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="/u11player">U-11 TAKIMIMIZ</a></li>
                                                <li><a href="/u12player">U-12 TAKIMIMIZ</a></li>
                                                <li><a href="/u13player">U-13 TAKIMIMIZ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/ourtechnicalstaff">TEKNİK KADROMUZ <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        
                                 
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class=social>
                    {% if email_adres %}
                             <a href="mailto:{{email_adres.sirket_email_adresi}}" class=facebook><i
                            class="fa fa-google"></i></a> 
                        {% else %}
                        {% endif %}
                    {% if sosyalmedyatw.link %}
                        <a href="{{sosyalmedyatw.link}}" class=twitter><i
                            class="fa fa-twitter"></i></a>
                    {% else %}
                    {% endif %}
                    {% if sosyalmedyaInsgr.link %}
                       <a href="{{sosyalmedyaInsgr.link}}" class=behance><i
                            class="fa fa-instagram"></i></a>
                    {% else %}
                    {% endif %}
                     </div>
                </div>
            </div>
        </div>
    </header>

{% endblock header %}
{% block slider %}
    <div class=innerbannerwrap>
        <div class=content></div>
        <div class=innerbanner><h2 class=bannerHeadline> <span>{{u11}}</span></h2></div>
    </div>
    <section class=playerDpage>
        <div class=container>
            <div class=row><h2 class=heading>Oyuncularımız <span></span></h2>

                <p class=headParagraph></p>
                {% for i in foto %}
                
                
                <ul class="playerDetailsPage-info clearfix">
                    <li><h2>{{i.forma_numarasi}}</h2>

                        <h3>{{i.adi_soyadi}}</h3>

                        <div class=bio_player>
                           
                            <div><span>Boyu</span>{{i.boyu}}</div>
                            <div><span>Pozisyon</span>{{i.mevki}}</div>
                            <div><span>Kilosu</span>{{i.kilosu}}</div>
                            <div><span>Doğum Tarihi</span>{{i.dogum_tarihi}}</div>
                            
                        </div>
                       
                    </li>
                    <li style="background-image: url({{i.fotografi.url}})"></li>
                    <li><h5>{{i.hobisi}}</h5>

                        <p>{{i.aciklamasi}}</p>

                        

                        
                    </li>
                </ul>
                 <br>
                {% endfor %}

                
            </div>
        </div>
    </section>
{% endblock slider %}