{% extends "homebase.html" %}
{% load custom_tags %}
{% load static %}
{% block header %}

<header class=header-main>
        <div class=header-upper>
            <div class=container>
                <div class=row>
                    <ul>
                        <li><a href="/">{{site_adi.site_adi_sekme_tr}}</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-lower clearfix">
            <div class=container>
                <div class=row><h1 class=logo><a href="/"><img src="{{logo.image.url}}" alt=image></a></h1>

                    <div class=menubar>
                        <nav class=navbar>
                            <div class=nav-wrapper>
                                <div class=navbar-header>
                                    <button type=button class=navbar-toggle><span class=sr-only>Toggle navigation</span>
                                        <span class=icon-bar></span></button>
                                </div>
                                <div class=nav-menu>
                                    <ul   class="nav navbar-nav menu-bar">
                                    
                                        <li><a>KULÜBÜMÜZ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="/">ANA SAYFA</a></li>
                                                <li><a href="/manager">YÖNETİM KURULU</a></li>
                                                <li><a href="/awards">KUPALAR</a></li>
                                                <li><a href="/sponsors">SPONSORLAR</a></li>
                                                <li><a href="/about">HAKKIMIZDA</a></li>
                                                <li><a href="/contact">İLETİŞİM</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li><a  href="/fixture">FİKSTÜR <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a class="active" href="/sportsschool">Futbol Okulu <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        <li><a>GALERİ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="/galery">FORMALARIMIZ</a></li>
                                                <li><a href="/u11galery">U-11 TAKIMIMIZ</a></li>
                                                <li><a href="/u12galery">U-12 TAKIMIMIZ</a></li>
                                                <li><a href="/u13galery">U-13 TAKIMIMIZ</a></li>
                                                <li><a href="/u14galery">U-14 TAKIMIMIZ</a></li>
                                                <li><a href="/u15galery">U-15 TAKIMIMIZ</a></li>
                                            </ul>
                                        </li>
                                        <li><a>OYUNCULARIMIZ<span></span> <span></span> <span></span> <span></span></a>
                                            <ul class=sub-menu>
                                                <li><a href="/u11player">U-11 TAKIMIMIZ</a></li>
                                                <li><a href="/u12player">U-12 TAKIMIMIZ</a></li>
                                                <li><a href="/u13player">U-13 TAKIMIMIZ</a></li>
                                                <li><a href="/u14player">U-14 TAKIMIMIZ</a></li>
                                                <li><a href="/u15player">U-15 TAKIMIMIZ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/ourtechnicalstaff">TEKNİK KADROMUZ <span></span> <span></span> <span></span>
                                            <span></span></a></li>
                                        
                                 
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class=social>
                    {% if email_adres %}
                             <a href="mailto:{{email_adres.sirket_email_adresi}}" class=facebook><i
                            class="fa fa-google"></i></a> 
                        {% else %}
                        {% endif %}
                    {% if sosyalmedyatw.link %}
                        <a href="{{sosyalmedyatw.link}}" class=twitter><i
                            class="fa fa-twitter"></i></a>
                    {% else %}
                    {% endif %}
                    {% if sosyalmedyaInsgr.link %}
                       <a href="{{sosyalmedyaInsgr.link}}" class=behance><i
                            class="fa fa-instagram"></i></a>
                    {% else %}
                    {% endif %}
                     </div>
                </div>
            </div>
        </div>
    </header>

{% endblock header %}{% block slider %}

<div class=innerbannerwrap>
    <div class=innerbanner><h2 class=bannerHeadline>FUTBOL <span>OKULU</span></h2></div>
</div>
<section class="matchSchedule countryclub">
    <div class=container>
        {{spor_okulu.hakkimizda_tr|safe}}
    </div>
</section>
<section class=players>
    <div class=container>
        <div class=row><h2 class=heading>Teknik <span>Kadro</span></h2>

            <p class=headParagraph>Profesyonel Teknik Kadro Ekibimiz</p>

            <div class="wrapplayer clearfix"><a class="prv prev-player"></a> <a class="nxt next-player"></a>
                <ul class="boardmember clearfix">
                    {% for i in teknik_kadro_ekibi %}               
                    <li class=clearfix>
                        <div>
                            <div>
                                <div class=fig01>
                                    <div class=memberimg
                                         style="background:url({{i.fotografi.url}}) no-repeat top center"></div>
                                </div>
                                <div class="bg-black01 fig02"><h6 class=paragraph02>{{i.adi_soyadi}}</h6>

                                    <p class="uppercaseheading red">{{i.gorevi}}</p></div>
                                <div class="bg-black fig02"><p>{{i.aciklamasi|safe}}</p>
                                </div>
                                <div class="bg-redcolor fig02"><p>{{i.dogum_tarihi}}</p></div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>


{% endblock slider %}